<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Examen Distribuida</title>
</head>
<body>

<div>
    <p>Admin Instrumentos</p>
</div>
    <li> <a th:href="@{/instrument/create}">Ir a crear Instrument</a> </li>
    <li><a th:href="@{/instrument/listar}">Ir a listar Instrument</a></li>


<div>
    <p>Admin Singer</p>
    <li> <a th:href="@{/singer/create}">Ir a crear Singer</a> </li>
    <li><a th:href="@{/singer/listar}">Ir a listar Singer</a></li>

</div>
</body>
</html>